body {
    font-size: 24px;
}
p.green {
    color: green;
}
p.red {
    color: red;
}
p.italic {
    font-style: italic;
}
p.bold {
    font-weight: bold;
}
li.green {
    color: green;
}
li.red {
    color: red;
}
span.xxsmall {
    font-size: 6px;
}
span.xsmall {
    font-size: 10px;
}
span.small {
    font-size: 14px;
}
span.medium {
    font-size: 24px;
}
span.large {
    font-size: 28px;
}
span.xlarge {
    font-size: 32px;
}
span.xxlarge {
    font-size: 36px;
}
